bin/
obj/
.vs/
*.suo
*.orig
.sonarqube/
*.bat
*.v11
*.v12
*.suo
*.user
/CC_SMSC.v11.suo
.vs/ProjectEvaluation/wpfapplogin.metadata.v9.bin
/.vs
*.bin
*.bin
/.vs/ProjectEvaluation
/.vs/WpfAppLogin/DesignTimeBuild
/obj
/obj
